#root {   
  background: rgb(47,79,79);
  background: linear-gradient(90deg, rgba(47,79,79,1) 0%, rgba(56,126,126,1) 100%);
  width: 100%;
  height: 100%;  
  text-align: center;
  --color-primary: #2F4F4F;
  --color-secondary: #D2691E;
  --color-grey-1: #F0FFFF;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

@media (max-width: 576px) {
  #root {
    width: auto;
    height: auto;
  }
}

.container{
  display: flex;
  justify-content: center;
}

.refreshButton{
  margin: 2rem 4rem;

}
.BoxGrid{
  width: 100%; 
  border: 1px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr); 
  font-size: large;  
  padding-bottom: 2rem;
}



.BoxItem { 
  background-color:var(--color-secondary); 
  padding: 3rem 0;
  border: 1px solid var(--color-grey-1);
  text-align: center;
  color: var(--color-grey-1);
  border-radius: 3px
  
}

.anotherButton{  
  margin-top: 1rem;
}

.gameTitle{
 color: var(--color-grey-1); 
 background-color: var(--color-primary); 
 font-family: "Inter", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.timeLeft{  
  margin: 0 1.5rem;
  width: 6rem;
  height: 8rem;
  color:var(--color-grey-1);  

}

.counter{
  color: var(--color-secondary);
  margin-top: 2rem;
}

.congrats{  
  height: 3rem;
  align-items: center;
  color: var(--color-grey-1) 
}

.meaning{  
  padding: 1rem 0;
  border: 1px solid var(--color-grey-1);
  text-align: center;
  justify-content: center;
    
}

.meaningCard{
  height: 10rem;
  margin: 0 9rem;
}
.meaning{
  width: 30rem ;  
}

.firstCol{
  display: 'flex';
  justify-content: center; 
 }

 img {  
  height: 16rem;
  padding: 0.5rem;
 }

 .footer{
  font-size: large;
  background-color: #1e4f4f;
  color: bisque;
 }